.App{
    min-height: 100vh;
    position: relative;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text{
    font-size: 12px;
}